img{
    height: 100px;
    width: 150px;
    margin: 10px;
}

html, body{
    margin: 0;
    height: 100%;
    background: url("../img/world-map.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cards-wrap{
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid gray;
    border-radius: 5%;
    margin: 0 auto;
}


.non-active{
    display: none;
}