
body{
    margin: 0;
    height: 100%;
}

body::after{
    content: "";
    background: url("../img/world-map.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

.screen-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-wrap{
    display: flex;
    flex-wrap: wrap;
}

.col-wrap{
    display: flex;
    flex-wrap: wrap;
}


.card-container{
    width: 150px;
    height: 100px;
    perspective: 600px;
    margin: 10px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: 0.5s;
    transform-style: preserve-3d;
  }


.card .card-img{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    background-size: cover;

}

.back{
    background: url("../img/back-card.png");
}


.is-flipped{
    transform: rotateY(180deg);
}

#modal-container{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top:0;
    width: 100%;
    height:100%;
    overflow:auto;
    background-color: rgba(0,0,0,0.3);
}

#modal-content{
    background-color: beige;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
    border: 1px solid black;
    width: 50%;
    height: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}